.titlebar {
  height: 34px;
  display: flex;
  justify-content: left;
  align-items: center;
  app-region: drag;
  padding-top: 4px;
}

.titlebar .nodrag {
  app-region: no-drag;
}

.titlebar.themeing {
  /* grabbed from https://www.radix-ui.com/colors for slate*/
  background: #111113;
  color: #edeef0;
}

/* TODO: support dark mode & light mode better. could go full css but radix-ui/themes support would be optimal (check reactlayout.tsx) */
/* @media (prefers-color-scheme: dark) {
  .titlebar.themeing {
    background: #111113;
    color: #edeef0;
  }

  body.themeing {
    background: #111113;
    color: #edeef0;
  }
}

@media (prefers-color-scheme: light) {
  .titlebar.themeing {
    background: #edeef0;
    color: #111113;
  }

  body.themeing {
    background: #edeef0;
    color: #111113;
  }
} */

.titlebar.win {
  padding-left: 12px;
}

.titlebar.mac {
  padding-left: 64px;
  padding-top: -2px;
}

.titlebar .spacer {
  margin-left: 8px;
  margin-right: 8px;
}

* {
  user-select: none;
}

.selectable {
  user-select: text;
}

.scrollable {
  overflow-y: scroll;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}
