---
import { ReactLayout } from "@/components/layouts/ReactLayout";
import Counter from "@/components/ui/testing/Counter";
import Layout from "@/layouts/Layout.astro";
---

<Layout pageTitle="home page" description="home page description">
  <ReactLayout client:load>
    <div class="pagecenter scrollable">
      <div class="contentcenter">
        <div class="content">
          <Counter client:load />
        </div>
      </div>
    </div>
  </ReactLayout>
</Layout>
