---
interface Props {
  pageProps: PageProps;
}

const { pageProps } = Astro.props;

import "@radix-ui/themes/styles.css";

import "@/styles/style.css";
import "@/styles/app.css";

import { ClientRouter } from "astro:transitions";
import { type PageProps } from "@/lib";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- this info -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- page info -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageProps.appInfo.title}</title>

    <!-- trans ition-->
    <ClientRouter />
  </head>

  <body class="themeing">
    <slot />
  </body>
</html>
