---
interface Props {
  pageTitle: string;
  description: string;
}

const { description, pageTitle } = Astro.props;

import "@radix-ui/themes/styles.css";

import "@/styles/style.css";
import "@/styles/app.css";

import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- this info -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- page info -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle} // astro-electron</title>
    <meta name="description" content={description} />

    <!-- trans ition-->
    <ClientRouter />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Rubik:wght@300..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="titlebar">Cool titlebar</div>
    <slot />
  </body>
</html>
